body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

nav li a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
}

footer {
    background-color: antiquewhite;
}