body{
    margin: 0;
}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav {
    background-color: rgb(117, 117, 117);
}

nav ul li a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #fff;
    color:  rgb(117, 117, 117);

}