table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1rem;
}

table,
tr,
th,
td {
    border: 2px solid;

}

th {
    padding: 1rem;
}

td {
    padding: 1.2rem;
}

tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}
