body div {
    margin-top: 5rem;
}

label {
    font-size: 1.2rem;
}

.employer_job_post_form {
    width: 80%;
    margin: auto;

}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

input[type="text"] {
    width: 70%;
    padding: 0.3rem;
}

textarea {
    columns: 12;
}

input[type="submit"] {
    margin: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #00aefd;
    border: none;
}