table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th,
tr,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    
}
th{
    font-size: 1.1rem;
}
td{
    font-size: 1rem;
}
h1{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}